.wrapper {
  padding-bottom: 80px;
}
.container {
  max-width: 1440px;
}
.navsAndThemeToggler {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  padding-top: 32px;
}
.navs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 0;
  border-bottom: 1px solid var(--Neutral-3);
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 32px 32px;
  padding-top: 0;
  position: relative;
}
.navContainer:hover {
  transform: translateY(0);
}

.activeNav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 1px;
  background: var(--Neutral-7);
}
.length {
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--Neutral-3);
}
.iconContainer {
  max-width: 48px;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Neutral-3);
  border-radius: 50%;
  margin-left: auto;
}
.icon {
  font-size: 24px;
}
.loadMoreButton {
  margin: 0 auto;
  margin-top: 64px;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 40px;
  padding: 64px 0;
  padding-top: 128px;
}

@media only screen and (max-width: 991px) {
  .navs {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 16px;
    gap: 24px 0;

    border: none;
  }
  .navsAndThemeToggler {
    padding-top: 12px;
  }
  .navContainer {
    border-bottom: 1px solid var(--Neutral-3);
    justify-content: center;

    padding: 0 12px;
    padding-bottom: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr auto;
  }

  .hexagon {
    order: 2;
  }
  .tabs {
    order: 3;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 767px) {
  .navs {
    grid-template-columns: 1fr;
  }
  .navContainer {
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 16px;
  }
}
