.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.card:hover {
  background-color: var(--bg);
}

.imgContainer {
  position: relative;
}

.img {
  width: 100%;
  border-radius: 20px;
}

.box {
  display: flex;
  padding: 8px 16px;
  padding-left: 8px;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #a6aead;
  margin-left: auto;
  display: none;
  position: absolute;
  top: 12px;
  left: 12px;
}

.card:hover .box {
  display: flex;
}

.avatar {
  width: 40px;
  border-radius: 12px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userImg {
  display: block;
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
}

.card:hover .author {
  color: var(--hover-color);
}

.verifiedIcon {
  max-width: 24px;
  width: 100%;
  margin-left: auto;
}

.priceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  position: relative;
  border-radius: 1px;
  border-top: 1px solid var(--Neutral-3);
  padding-top: 16px;
  transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.card:hover .priceContainer {
  border-top: 1px solid var(--Neutral-6);
}

.priceContainer::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--Neutral-3);
  transition: background-color 0.5s ease-in-out;
}

.card:hover .priceContainer::before {
  background: var(--Neutral-6);
}

.currentBid,
.buyNow {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.bid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.circle {
  font-size: 8px;
  color: #fd5d47;
}

.card:hover .bidPrice,
.card:hover .price {
  color: var(--hover-color);
}

@media only screen and (max-width: 520px) {
  .card {
    padding: 5px;
  }

  .card:hover .author {
    color: var(--Neutral-7);
  }

  .card:hover {
    background: var(--Neutral-1);
  }

  .card:hover .bidPrice,
  .card:hover .price {
    color: var(--Neutral-7);
  }

  .card:hover .priceContainer {
    border-top: 1px solid #d9d9d9;
  }

  .card:hover .priceContainer::before {
    background: #d9d9d9;
  }
}
