/* src/components/Carousel.module.css */
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden; /* Hide overflow for better visual effect */
}

.slideContainer {
  display: flex;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}

.slide {
  flex: 1;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
}

.navButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navButton:hover {
  background-color: #0056b3;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}
